@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    /* color: #272833; */
    background-color:#F1F2F5;
    /* font-family: 'Noirden'; */
    font-family: 'Lato', sans-serif;
    font-weight: 500;

}


*{
    box-sizing: border-box;

    /* border: 1px solid black; */
  
}

/* ----------------------------------RESET----------------------------------------------- */
ul, ol{
    margin: 0px;
    padding: 0px;

}
li{
    list-style-type: none;  
}
a{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
figure{
    margin: 0px;
    padding: 0px;   
}
input{
    outline: none;   
}



/* ------------------------- Formato para la fuente tipografica ------------------------ */
 h1, h2, h3{
    font-family: 'Exensa Grotesk';
    color: #272833;
    margin-bottom: 50px;;
 }
h1{
    font-weight: 900;
    font-style: normal;
    font-size: 1.9em;
}
h2{
    font-weight: 700;
    font-style: normal;
    font-size: 1.8em;

}
h3{
    font-weight: 500;
    font-style: normal;
    font-size: 1.4em;
}

p, section#intro li,em{
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    line-height: 22px;
}

em{
    color: #03658C;
    font-weight: 900;
    
}


/* ------------------------------------- display ------------------------------- */

.fila{
    display: flex;
    flex-wrap: wrap;
}
.columna{
    display: flex;
    flex-direction: column;
}
.espacio-entre{
    justify-content: space-between;
}
header, main, aside, footer{
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;

}


/* ------------------ menu -------------------------- */


nav{
    /* background-color: #012736;  */
    background: #272833;  /* fallback for old browsers */

} 
nav li a{
    display: flex;
    color: #80ACFF;
    width: 100px;
    height: 40px;
    /* padding: 30%; */
    align-items: center;
}

aside, section{
    padding: 5% 5%;
}

/* --------------------------------- seccion banner ----------------------------------------} */

section#banner{
    background-image: url(elementos-graficos/Imagenes/banner-stranger-thins-medida-desktop.jpg);
    background-size: 1680px;
    height: 836px;
    color: white;

}
h2.logo-stranger-things{
    color: white;
}
section#intro ul{
    width: 65%;
    background-color: white;
    box-shadow: 5px 4px 7px 1px rgba(137, 148, 190, 0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5%;
}
section#intro li{
    display: flex;
    flex-direction: row;
    padding: 1.5% 0%;
}



section.videos h2#videos::before{

    height: 65px;
    content: "";
    padding-left: 50px;
    background-image: url(./elementos-graficos/Iconos/youtube2.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;
} 

h2#episodios::before{
    content: "";
    padding-left: 50px;
    background-image: url(./elementos-graficos/Iconos/epidodio.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center center;
}
h2#suscripcion-icon::before{
    content: "";
    padding-left: 50px;
    background-image: url(./elementos-graficos/Iconos/suscribir.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
}
ol.episodios li, ol.episodios-2 li{
    width: 440px;
    margin-bottom: 4%;
} 




section.background{
    height: 680px;
    background-image: url(./elementos-graficos/Imagenes/Background_StrangerThings4.jpg);
    background-image: 1680px 832px;
}












/* -----------------------------------Formulario----------------------------------------{} */

section#suscripcion form{
    width: 500px;
    padding: 24px;
    background-color: #FFFFFF;
   box-shadow: 3px 3px 7px 1px rgba(137, 148, 190, 0.2);

    border: none;
    color: #272833;
}
section#suscripcion input:not([type="submit"]), textarea{
    font-size: 14px;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 24px;           
    border: solid 1px #CDCED9;                                                                                                                                                                                                                                                                                                                                                                                     
}
form fieldset{
    /* width: 600px; */
    border: none;
    padding: 0px;
    margin: 0px;
}
form fieldset legend{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}
form fieldset label{
    margin-bottom: 16px
}

textarea:focus{
    outline: none;
} 
form input[type="checkbox"]{
    width: 20px!important;
    padding: 5px;
}

form input[type="submit"]{
   background-color: #FFFFFF;
   border: 1px solid #CDCED9;
   box-shadow: 5px 4px 7px 1px rgba(137, 148, 190, 0.2);
   padding: 12px 0px;
   transition: all 0.6s;
   -webkit-transition: all 0.6s;
   -moz-transition: all 0.6s;
   -ms-transition: all 0.6s;
   -o-transition: all 0.6s;
}
form input[type="submit"]:hover{
    color:#f8f8f8;
    transition: all 0.6s;
    background:#0B5FFF;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}












footer{
    background-color: #272833;
    height: 300px;;
}

/* -------------------------------------------Imagenes Fluidas----------------------------------------- */

img{
    max-width: 100%!important;
    height: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
video{
    max-width: 100%!important;
    height: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* ----------------------- Media-queries----------------------- */


@media (max-width: 629px) and (min-width:320px){
    nav, ul{
        flex-direction: column;
        justify-content: center;
    }

    section#intro ul {
        width: 100%;
    }
    section#suscripcion form {
        width: 90vw;
    } 

    
}

@media (max-width: 1100px) and (min-width:629px){
    section#intro ul {
        width: 100%;
    }
    section#suscripcion form {
        width: 70vw;
    } 
}


@media (max-width: 1360px) and (min-width:1100px){

    section#suscripcion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 2000px) and (min-width:1360px){
    section#suscripcion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
